*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f1115;
color:white;
}

header{
display:flex;
gap:10px;
align-items:center;
padding:15px;
background:#161b22;
position:sticky;
top:0;
z-index:99;
}

.logo{
font-size:24px;
font-weight:bold;
}

.logo span{
color:#00e5ff;
}

input{
flex:1;
padding:12px;
border:none;
border-radius:25px;
background:#222;
color:white;
}

#darkBtn{
background:#222;
border:none;
color:white;
padding:10px;
border-radius:50%;
}

.slider{
display:flex;
overflow:auto;
gap:12px;
padding:15px;
}

.slide{
min-width:280px;
height:120px;

background:
linear-gradient(
135deg,
#00e5ff,
#00b8d4
);

border-radius:18px;

padding:20px;

font-size:22px;
font-weight:bold;
}

.kategori{
display:flex;
gap:8px;
padding:0 15px 20px;
overflow:auto;
}

.kategori button{
padding:10px 16px;
border:none;
border-radius:20px;
background:#1f2937;
color:white;
}

.apk-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:15px;

padding:15px;
}



.apk-card{

background:#161b22;

border-radius:18px;

overflow:hidden;

transition:.2s;
}

.apk-card:hover{
transform:translateY(-4px);
}



.apk-card img{

width:100%;
height:160px;

object-fit:cover;
}



.info{

padding:14px;
}

.info h3{
margin-bottom:8px;
font-size:20px;
}

.rating{
color:gold;
margin-bottom:6px;
}

.downloads{
color:#aaa;
font-size:14px;
}

.btn{

display:block;

margin-top:15px;

text-align:center;

padding:12px;

background:#00e5ff;

color:black;

font-weight:bold;

border-radius:10px;

text-decoration:none;
}

footer{
padding:30px;
text-align:center;
color:#666;
}
