*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#111;
color:white;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px;

background:black;

}


.logo{

font-size:24px;
font-weight:bold;

}

.logo span{

color:cyan;

}


input{

padding:10px;

width:50%;

border:none;

border-radius:20px;

}


#darkBtn{

padding:10px;
border:none;
border-radius:50%;

}

.apk-card{
background:#1d1d1d;
padding:15px;
border-radius:14px;
}

.download,
.btn a{

display:block;
text-align:center;

padding:12px;

background:cyan;

color:black;

font-weight:bold;

border-radius:8px;

text-decoration:none;

margin-top:10px;
}


.slider{

display:flex;
overflow:auto;

gap:10px;

padding:15px;

}


.slide{

min-width:250px;

background:cyan;

padding:30px;

border-radius:12px;

font-weight:bold;

color:black;

}



.kategori{

display:flex;

gap:10px;

padding:10px;

overflow:auto;

}


.kategori button{

padding:10px;

border:none;

border-radius:20px;

background:#222;
color:white;

}



.apk-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

padding:20px;

}



.apk-card{

background:#1d1d1d;

padding:15px;

border-radius:14px;

}


.apk-card img{

width:100%;
border-radius:10px;

}



.apk-card h3{

margin:10px 0;

}



details{

margin:10px 0;

}



.btn{

display:flex;
gap:10px;

}



.btn a{

flex:1;

text-align:center;

padding:10px;

background:cyan;

text-decoration:none;

color:black;

border-radius:8px;

font-weight:bold;

}


footer{

padding:20px;

text-align:center;

color:#aaa;

       }
